---
---
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Aos que virão... Livro Digital 2017</title>
</head>
<body>
    <div class="page-content">
        <div class="wrapper">
            <h2>Aos que virão...</h2>
            <pre>
Desarrumar as pedras do chão
Pra marcar minha passagem

Vida é suor e paixão
Coração e coragem

Juntar cada mito na mão
E quebrar a sua imagem

Recusar a ilusão
De todo e qualquer miragem

Virar a Terra pelo avesso
Descobrir novos caminhos
Inventar outro começo
E repovoar os ninhos
Ir por aí, plantando ideias
Pra gerar um fruto novo
Que deixe um gosto de riso
Na boca e na alma do povo
Fazer do amor a razão
A missão e a mensagem

Que interrompa a tensão
Da regressiva contagem

Depois repartir o pão
Recompor a paisagem

Deixando aos que virão
Um mundo sereno
E seguir viagem
            </pre>
<p><em>Hardy Guedes</em></p>
        </div>
    </div>

    <ul>
        {% for texto in site.textos %}{% if texto.published %}
        <li>
            <a href="{{ site.baseurl }}{{ texto.url }}">{{ texto.title }}</a>
        </li>
        {% endif %}{% endfor %}
    </ul>

</body>
</html>