<div class="share-widget" data-grid="center justify row wrap">
	{% include share/btn-facebook.html    class='wbtn btn-fb' position=include.position %}
	{% include share/btn-twitter.html     class='wbtn btn-tw' position=include.position %}
	{% include share/btn-linkedin.html    class='wbtn btn-li' position=include.position %}
	{% include share/btn-google-plus.html class='wbtn btn-gp' position=include.position %}
	{% include share/btn-whatsapp.html    class='wbtn btn-wa' position=include.position %}
</div>
